<div class="row">
    <div class="col-md-12">
        <a asp-controller="Product" asp-action="ListProduct" class="btn btn-outline-dark">All Products</a>
        <a asp-controller="Category" asp-action="ListCategory" class="btn btn-outline-dark">All Categories</a>
        <a asp-controller="Category2" asp-action="ListCategory2" class="btn btn-outline-dark">All Categories2</a>
        <a asp-controller="Role" asp-action="ListRole" class="btn btn-outline-dark">All Roles</a>
        <a asp-controller="User" asp-action="ListUser" class="btn btn-outline-dark">All Users</a>
        <a asp-controller="Order" asp-action="GetOrders" class="btn btn-outline-dark">All Orders</a>
        <a asp-controller="Campaign" asp-action="ListCampaign" class="btn btn-outline-dark">All Campaign</a>
        <a asp-controller="Brand" asp-action="ListBrand" class="btn btn-outline-dark">All Brands</a>
        <a asp-controller="Comment" asp-action="ListComment" class="btn btn-outline-dark">All Comments</a>
    </div>
    
</div>
<div class="row mt-5">
    <div class="col-md-6">

        <div class="card">
            <h5 class="card-header">Featured</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h5 class="card-header">Featured 2</h5>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>