@model ProductDetailModel

@*comment - start*@
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card mt-4">
            <h1 class="h-4 mt-4 card-title text-center">Comments</h1>
            <hr class="m-4" />
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card border-0">
                            <form asp-controller="Comment" asp-action="CreateComment" enctype="application/x-www-form-urlencoded" method="post">
                                <input type="hidden" name="ProductId" value="@Model.Product.ProductId"/>
                                <input type="hidden" asp-for="Comment.CommentId"/>
                                <input type="hidden" asp-for="Product"/>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <input type="checkbox" class="btn-check" id="btn-check-1" autocomplete="off">
                                        <label class="btn btn-outline-warning" for="btn-check-1"><i style="color: orange;" class="fa-solid fa-star"></i></label>

                                        <input type="checkbox" class="btn-check" id="btn-check-2" autocomplete="off">
                                        <label class="btn btn-outline-warning" for="btn-check-2"><i style="color: orange;" class="fa-solid fa-star"></i></label>

                                        <input type="checkbox" class="btn-check" id="btn-check-3" autocomplete="off">
                                        <label class="btn btn-outline-warning" for="btn-check-3"><i style="color: orange;" class="fa-solid fa-star"></i></label>

                                        <input type="checkbox" class="btn-check" id="btn-check-4" autocomplete="off">
                                        <label class="btn btn-outline-warning" for="btn-check-4"><i style="color: orange;" class="fa-solid fa-star"></i></label>

                                        <input type="checkbox" class="btn-check" id="btn-check-5" autocomplete="off">
                                        <label class="btn btn-outline-warning" for="btn-check-5"><i style="color: orange;" class="fa-solid fa-star"></i></label>
                                    </div>
                                    <div class="mb-3">
                                        <label name="Description"class="form-label">Example textarea</label>
                                        <textarea name="Description" class="form-control" rows="3"></textarea>
                                        <span asp-validation-for="Comment.Description" class="text-danger"></span>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-outline-warning" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                        @*comment list - start*@
                        <div class="col-md-12 mt-4">
                            @if (Model.Comments != null)
                            {
                                @foreach (var item in Model.Comments)
                                {
                                    <div class="card border-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <h6 class="card-title">@item.UserFirstname @item.UserLastname</h6>
                                                </div>
                                                <div class="col-md-9">
                                                    <a class="h4 nav-link">
                                                        <strong>
                                                            <i class="fa-solid fa-star text-warning"></i>
                                                            <i class="fa-solid fa-star text-warning"></i>
                                                            <i class="fa-solid fa-star text-warning"></i>
                                                            <i class="fa-solid fa-star text-warning"></i>
                                                            <i class="fa-solid fa-star text-warning"></i>
                                                            4.8
                                                        </strong>
                                                    </a>
                                                </div>
                                            </div>
                                            <p class="card-text mt-2">@item.Description</p>
                                        </div>
                                    </div>
                                }
                                    <hr />

                                    <div class="d-grid gap-2 col-6 mx-auto mt-4">
                                        <button class="btn btn-warning" type="submit">
                                            <strong>All Comments</strong>
                                        </button>
                                    </div>
                            }
                            else{
                            <div class="card border-0">
                                <div class="card-body">
                                        <h4>No Comments</h4>
                                </div>
                            </div>
                            }
                        </div>
                        @*comment list - end*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*comment - end*@

@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
