<div class="row mt-5">
    <div class="mt-5"></div>
    <div class="col-md-4">
       <div class="mt-5">
            <a href="#" class="nav-link m-3"><h4>ShopApp</h4></a>
            <a href="#" class="nav-link m-3">Home</a>
            <a href="#" class="nav-link m-3">Top Sales</a>
            <a href="#" class="nav-link m-3">Man</a>
            <a href="#" class="nav-link m-3">Woman</a>
       </div>
    </div>
    <div class="col-md-3">
        <div class="mt-5">
            <a href="#" class="nav-link m-3"><h4>About Us</h4></a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mt-5">
            <a href="#" class="nav-link m-3"><h4>Campaings</h4></a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
        </div>
    </div>
    <div class="col-md-2">
        <div class="mt-5">
            <a href="#" class="nav-link m-3"><h4>Help</h4></a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
            <a href="#" class="nav-link m-3">Lorem</a>
        </div>
    </div>
    <div class="mt-5"></div>
    <div class="my-2 text-center">
        2023 &copy; All right reserved - ShopApp Inc.
    </div>
</div>
