<div class="navbar navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container">
        <ul class="navbar-nav">
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="woman" class="nav-link">Woman</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="man" class="nav-link">Man</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="mom-child" class="nav-link">Mom &delta; Child</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List"asp-route-category="home-furniture"  class="nav-link">Home &delta; Furniture</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="supermarket" class="nav-link">Supermarket</a>
            </li> 
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="cosmetics" class="nav-link">Cosmetics</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="shoe-bag" class="nav-link">Shoe &delta; Bag</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="electronics" class="nav-link">Electronics</a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="sport-outdoor" class="nav-link">Sport &delta; Outdoor </a>
            </li>
            <li class="nav-item m-2">
                <a asp-controller="Shop" asp-action="List" asp-route-category="book-instrument" class="nav-link">Book &delta; Instrument</a>
            </li>
            <li class="nav-item m-2" >
                @*<a asp-controller="Shop" asp-action="TopSalesList" class="nav-link">Top Sales</a>*@
                <a asp-controller="Shop" asp-action="Category2" asp-route-category="woman" asp-route-category2="second" class="nav-link">Top Sales</a>
            </li>

        </ul>
    </div>
</div>
