@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Seller"))
    {
        <nav class="navbar bg-dark navbar-expand-xxl p-4" data-bs-theme="dark">
            <div class="container-fluid">
                <a asp-area="Seller" asp-controller="Home" asp-action="Dashboard" class="navbar-brand mr-4">ShopApp</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        @*Product - start*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Product
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Seller" asp-controller="Product" asp-action="ListProduct">All Products</a></li>
                                <li><a class="dropdown-item" asp-area="Seller" asp-controller="Product" asp-action="CreateProduct">Create Product</a></li>
                            </ul>
                        </li>
                        @*Product - end*@

                        @*Order - start*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Order
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Seller" asp-controller="Order" asp-action="ListOrder">All Orders</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        @*Order- end*@

                        @*Campaign - start*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Campaign
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Seller" asp-controller="Campaign" asp-action="ListCampaign">All Campaigns</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        @*Campaign - end*@

                        @*Brand - start*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Brand
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Seller" asp-controller="Brand" asp-action="ListBrand">All Brands</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        @*Brand - end*@

                        @*Comment - start*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Comment
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Seller" asp-controller="Comment" asp-action="ListComment">All Comments</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        @*Comment - end*@

                        @*Comment - start*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Store
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Seller" asp-controller="Store" asp-action="Index">Manage</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        @*Comment - end*@
                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar bg-dark navbar-expand-xxl p-4" data-bs-theme="dark">
            <div class="container-fluid">
                <a asp-area="Seller" asp-controller="Home" asp-action="Index" class="navbar-brand mr-4">ShopApp</a>
            </div>
        </nav>
    }
}
else
{
    <nav class="navbar bg-dark navbar-expand-xxl p-4" data-bs-theme="dark">
        <div class="container-fluid">
            <a asp-area="Seller" asp-controller="Home" asp-action="Index" class="navbar-brand mr-4">ShopApp</a>
        </div>
    </nav>
}