@model ListCommentVM
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Comments</h1>
<hr class="mb-3" />

<div class="row">
    <div class="col-md-12">
        <table id="commentTable" class="table table-bordered mt-4">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td>Description</td>
                    <td style="width: 150px;"></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Comments.Count > 0)
                {
                    @foreach (var item in Model.Comments)
                    {
                        <tr>
                            <td>@item.CommentId</td>
                            <td>@item.Description</td>
                            <td>
                                <form asp-controller="Comment" asp-action="EditComment" method="get" style="display: inline;">
                                    <input type="hidden" name="CommentId" value="@item.CommentId">
                                    <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                                </form>

                                <form asp-controller="Comment" asp-action="DeleteComment" method="post" style="display: inline;">
                                    <input type="hidden" name="CommentId" value="@item.CommentId">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No comments</h3>
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>

@section Css{
    <script src="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"></script>
}
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        new DataTable('#commentTable');
    </script>
}