@model CategoryListViewModel

<div class="row">
    <div class="col-md-12">
        <h1>Admin Products</h1>
        <a class="btn btn-outline-primary" asp-controller="Category" asp-action="CreateCategory">Add Category</a>
        <table id="categoryTable" class="table table-bordered mt-4">
            <thead>
                <tr>
                    <td style="width: 30px;">Id</td>
                    <td>Name</td>
                    <td style="width: 150px;"></td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Categories.Count > 0)
                {
                    @foreach (var item in Model.Categories)
                    {
                        <tr>
                            <td>@item.CategoryId</td>
                            <td>@item.Name</td>
                            
                            <td>
                                <a href="/admin/categories/@item.CategoryId" class="btn btn-primary btn-sm mr-2">Edit</a>

                                <form asp-controller="Category" asp-action="DeleteCategory" method="post" style="display: inline;">
                                    <input type="hidden" name="CategoryId" value="@item.CategoryId">
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div class="alert alert-warning">
                        <h3>No categories</h3>
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>

@section Css{
    <script src="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css"></script>
}
@section Scripts{
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        new DataTable('#categoryTable');
    </script>
}