@model SellerRegisterModel
<div class="row mt-4">
    <div class="col-md-2 mb-4"></div>
    <div class="col-md-8 mt-4">
        <div class="card mt-4 mb-4 text-center container-fluid">
            <div class="card-body">
                <h5 class="card-title mb-4">Hello</h5>
                <h6 class="card-subtitle mb-4 text-body-secondary">Welcome to the ShopApp</h6>
                <hr class="mb-3" />
                    <form asp-controller="Account" asp-action="SellerRegister" enctype="application/x-www-form-urlencoded" method="post">
                        <div asp-validation-summary="All" style="color: red;"></div>
                        <input type="hidden" asp-for="SellerId"/>
                        <div class="form-group row mt-2">
                            <label asp-for="SellerFirstName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            <input class="form-control" asp-for="SellerFirstName" />
                            <span asp-validation-for="SellerFirstName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row mt-2">
                            <label asp-for="SellerLastName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            <input class="form-control" asp-for="SellerLastName" />
                            <span asp-validation-for="SellerLastName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row mt-2">
                            <label asp-for="SellerEmail" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            <input class="form-control" asp-for="SellerEmail" />
                            <span asp-validation-for="SellerEmail" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row mt-2">
                            <label asp-for="SellerPhone" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            <input class="form-control" asp-for="SellerPhone" />
                            <span asp-validation-for="SellerPhone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group row mt-2">
                            <label asp-for="StoreName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            <input class="form-control" asp-for="StoreName" />
                            <span asp-validation-for="StoreName" class="text-danger"></span>
                            </div>
                        </div>
                        
                        <div class="d-grid gap-2 m-4">
                            <button type="submit" class="btn btn-danger">Register</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>
    <div class="col-md-2 mb-4"></div>
</div>


@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}