@model ProductListViewModel

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("Campaign")
    </div>
</div>
<div class="card text-center mt-5">
    <div class="card-header">
        New
    </div>
    <div class="card-body">
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-3">
                    @await Html.PartialAsync("_product", product)
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}
