@model LoginModel

<div class="row mt-4">
    <div class="col-md-3 mb-4"></div>
    <div class="col-md-6 mt-4">
        <div class="card mt-4 mb-4 text-center container-fluid">
            <div class="card-body">
                <h5 class="card-title mb-4">Hello</h5>
                <h6 class="card-subtitle mb-4 text-body-secondary">Welcome to the ShopApp</h6>
                <hr class="mb-3"/>
                <form asp-controller="Account" asp-action="Login" enctype="application/x-www-form-urlencoded" method="post">
                    <input type="hidden" name="ReturnUrl" value="@Model.ReturnUrl" />
                    <div asp-validation-summary="ModelOnly" style="color: red;"></div>
                    <div class="form-group row mt-4">
                        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <label asp-for="Password" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" asp-for="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-grid mt-4 mb-3 gap-2 d-md-flex justify-content-md-end">
                        <a class="btn btn-sm btn-outline-danger" asp-controller="account" asp-action="forgotpassword">Forgot password</a>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-lg btn-danger">Login</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3 mt-4 mb-4"></div>
</div>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
}